{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} I'm looking for feedback on: {{ request_feedback_on }}{% endblock %}</h1>
     <img src="{{ sad }}" >
     <img src="{{ neutral }}" >
     <img src="{{ happy }}" >
    <form method="post">
            <textarea name="description"
                  placeholder="Review"
                  rows="15"
                  cols="60"
                  ></textarea>
        </p>



        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}